# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv
env
.venv

# Ignore any environment variables files
.env

# Ignore the requirements file (since it's already copied explicitly)
!requirements.txt

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore any other unwanted files or directories
.git
.gitignore
.idea
.vscode
*.log
node_modules
*.bak
*.swp
